<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571324170600-phkue8fhcn0uj5erfv5p322vkru19of3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571324170600-phkue8fhcn0uj5erfv5p322vkru19of3</string>
	<key>API_KEY</key>
	<string>AIzaSyCESFfshFmT3p9oAQMijeYzxLS07FgIzTk</string>
	<key>GCM_SENDER_ID</key>
	<string>571324170600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OTPUIKIT.OTPUIKITAPP</string>
	<key>PROJECT_ID</key>
	<string>otpuikit</string>
	<key>STORAGE_BUCKET</key>
	<string>otpuikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571324170600:ios:103d8947cecbcf67ef56dd</string>
</dict>
</plist>